<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hasbrain.areyouandroiddev">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ChoosePostViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PostViewActivity" />
        <activity android:name=".activity.PostRecyclerViewActivity" />
        <activity
            android:name=".activity.PostListViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.PostGridViewActivity" />
        <activity android:name=".activity.PostInSectionRecyclerViewActivity" />
        <activity android:name=".activity.PostInSectionListViewActivity" />
        <activity android:name=".activity.PostExpandRecylerViewActivity" />
    </application>

</manifest>